body{
    background-color: rgb(15, 87, 151);
}
input{
    border: 2px double red;
    text-align: center;
    color: red;
}
#miDivision{
    border: 4px solid rgb(red, green, blue);
    height: auto;
    width:100% ;
}
#misionTic{
    width: 50%;
    height: auto;
    border: 2px solid yellow;
}
.fondoAzul{
    background-color: yellow;
}
.bordeBlanco{
    border: 2px double white !important;  
    border-radius: 10;  
}
input[type=button]:hover{
    background-color: yellow;
    cursor: pointer;
}
